/*importa uma font pelo google fonts por um link*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); 
      
/* "*" é usado para editar todos os elementos presentes no html  */
/* o CSS já vem com algumas predefinições de margin padding e o comportamento das box criadas*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #121212;
    text-shadow: none;
}
/* Edita todos os elementos visiveis do site e seta um padrao que pode ser sobreescrito por qualquer comando identico dentro do body}*/

body{
    font-family: "Open Sans";
    font-weight: bolder;
    color: black;
    background-color: #F5F0F5;
}



h1{
    font-size: 35px;
    text-transform: uppercase;
}
.grid{
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
}

/*----------------------------------comandos-----------------------*/

.b{
    background-color: #121212;
}

.w{
    background-color: #F5F0F5;
}

.bl{
    background-color: #0D25BD;
}

.df{
    display: flex;
}
.-df{
    display: flex;
    flex-direction: column;
}

.sbc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.-sbc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fec{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.-fec{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.fsc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.-fsc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.c{
    display: flex;
    justify-content: center;
}
.cc{
    display: flex;
    align-items: center;
}

.ccc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.-ccc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alin{
    padding-left: 5px;
}

/*----------------------------------Header-----------------------*/

header{
    background-color: #121212;
}

#barra_pesquisa{
    background-color: #F5F0F5;
    border-radius: 15px;
    width: 45%;
    min-width: 150px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
}

#txtbarra{
    width: 90%;
    outline: none;
    border: none;
    background:none;
    font-family: "Open Sans";
    font-size: 16px;
    padding-left: 15px;
}

.dep{
    height: 30px;
    background-color: #0D25BD;
    text-transform: uppercase;
    }

#txtdep{
    font-size: 17px;
    color: #f5F0F5;
    text-decoration: none;
}
.depa{
    text-decoration: none;
}

/* QUEM SOMOS */

.quemsomos{
    width: 1200px;
    height: 700px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 30px;
    font-weight: normal;
}

.esquerda{
    width: 550px;
    height: 622px;
    background-color: #FFFFFF;
}

.titulo h1{
    font-size: 35px;
    color: #0D25BD;
    margin-bottom: 10px;
    font-weight: 900;
}

.linhaazul{
    width: 540px;
    height: 10px;
    background-color: #0D25BD;
    margin-bottom: 30px;
}

.p{
    font-size: 20px;  
    font-weight: bold;
}

.p1{
    margin-bottom: 20px;
}

.imagem{
    width: 500px;
    height: 500px;
    border-radius: 10px;
     
}

.carrossel{
    transition: transform 0.5s ease-in-out;
    transform: translateX(0); 
}

.quemsomos2{
    width: 1200px;
    height: 400px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}

.alinhamento2 {
    margin-left: 50px;
    margin-top: 30px;
    color: #0D25BD;
}

.alinhamento2 h1{
    color: #0D25BD;
}

.alinhamento2 p{
    color: #121212;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.direita{
    width: 500px;
    height: 500px;
    margin-top: 80px;
    overflow: hidden;
}
/*----------------------------------rodapeEsquerda-----------------------*/
.todas_as_linhas{width: 130px;}
.rodape{
    background: linear-gradient(1.07deg, #0065C2 3.33%, #00C1F7 99.2%);
}
.container5{

}

.esquerdarodape-txt{
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    text-shadow: 2px 2px 10px black;
    width: 189px;
}

.rodape-titulo{
font-size: 18px;
font-weight: bolder;
padding-bottom: 5px;
}

.rodape-links{
    padding-top: 5px;
}

.colunadivisora{
    padding-top: 10px;
}

/*----------------------------------rodapeDireita-----------------------*/

.direitarodape{
    width: 398px;
    height: 200px;
    margin-top: 10px;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.titulonewsletter p {
    padding-right: 5px;
    font-size: 13px;
}
#newsletter{
    font-size: 18px;
}
.titulonewsletter img {
    padding-right: 5px;
}
.newsletterinput {
    border-radius: 5px;
background-color: #F5F0F5;
    width: 380px;
    height: 25px;
    margin-top: 5px;
}

#newsletterinput{
    width: 360px;
    border: none;
    outline: none;
    background: none;
    padding-left: 5px;
}

#botao_cadastrar{
   margin-right: 2px;
    border-radius: 5px;
    cursor: pointer;
    height: 85%;
    width: 25%;
    background-color: #0065C2;
    font-size: 16px;
    color: #F5F0F5;
    font-family: "Open Sans";
    border: none;
}
.sac{
    margin-left: 5px;
}

.sac-redes{
    height: 90px;
    width: 398px;
}

.sac1 p {
    padding-right: 5px;
    font-size: 13px;
    
}
.sacgg{
    font-size: 18px;
}

.fsc p {
    padding-right: 5px;
    padding-left: 5px;
}

.redes{
    text-transform: uppercase;
    font-size: 12px;
}

.redessociais{
    padding-right: 5px;
    padding-top: 5px;
}

.quemsomos3{
    background-color: #f5F0F5;
    padding-top: 10px;
    padding-bottom: 30px;
}
.quemsomos4{
    background-color: #f5F0F5;
    padding-top: 10px;
    padding-bottom: 30px;
}