 <!------------------------------cabeçalho------------------------------>
 <div class="header">
    <div class="header grid sbc">
        <div>
            <a routerLink=""><img src="../../assets/img/menu superior/logo.png" alt="Logo da ggwp"></a>
        </div>
        <!--logo ggwp-->
        <div id="barra_pesquisa" class="sec">
            <!--barra de pesquisa-->
            <input type="text" placeholder="Pesquisar..." id="txtbarra">
            <img onclick="Pesquisar()" src="../../assets/img/menu superior/busca.png" alt="botao de pesquisa">
        </div>
        <div class="sbc">
            <!-- area de login-->

            <a routerLink="/cadastro"><img src="../../assets/img/menu superior/Logon-icon.png" alt="ícone de usuário"></a>


            <a routerLink="/cadastro" class="alin"><img src="../../assets/img/menu superior/Login.png" alt="botão de login"></a>


            <a routerLink="/cadastro" class="alin"><img src="../../assets/img/menu superior/cadastre-se.png" alt="botão de cadastro"></a>

        </div>
        <div class="df">
            <a href="#"><img src="../../assets/img/menu superior/Coração.png" alt="favoritos"></a><!-- favoritos e carrinho-->
            <a href="#"><img src="../../assets/img/menu superior/Carrinho de compras.png" alt="carrinho de compras"></a>
        </div>
    </div>
    <div class="dep df">
        <!-- menu inferior-->
        <nav class="grid sbc">
            <a href="#" class="depa">
                <h2 id="txtdep">Departamentos</h2>
            </a>
            <a href="#" class="depa">
                <h2 id="txtdep">Destaques</h2>
            </a>
            <a href="monte seu pc/monte seu pc.html" class="depa">
                <h2 id="txtdep">PC Gamer</h2>
            </a>
            <a href="#" class="depa">
                
                <h2 id="txtdep">Descubra um jogo</h2>
            </a>
            <a routerLink="/quem-somos" class="depa">
                <h2 id="txtdep">Sobre nós</h2>
            </a>
        </nav>
    </div>
</div>
