<div class="container7">
    <div class="cadastro6 grid">
        <div class="cadastrado -sec">
            <h1>Já tenho cadastro</h1>
            <div class="inputs1 -ccc">
                <div class="emailcadastrado ccc">
                    <input type="email" placeholder="E-mail" id="emailcadastrado">
                </div>
                <div class="senhacadastrado ccc">
                    <input type="password" placeholder="Senha" id="senhacadastrado">
                </div>
                <button id="botao_cadastrado" onclick="login()">Entrar</button>
            </div>
            <div class="alinhamento_esqueci">
                <a href="#" id="esqueci_login">Esqueci meu login</a>
                <a href="#" id="esqueci_senha">Esqueci minha senha</a>
            </div>
            <div class="acessar_com_redes -ccc">
                <div class="acessarcomredes">
                    <p id="p8">Acessar com as redes sociais</p>
                </div>
                <div class="facebook sec">
                    <p>Entrar com o facebook</p>
                    <img src="../../assets/img/Rectangle 99.png" alt="">

                </div>
                <div class="google sec">
                    <p>Entrar com o google</p>
                    <img src="../../assets/img/Rectangle 98.png" alt="">
                </div>
            </div>
        </div>
        <div class="separador"></div>

        <div class="naocadastrado ">
            <h1>Quero me cadastrar</h1>

            <div class="inputs1 -ccc">
                <div class="naoemailcadastrado ccc">
                    <input type="email" placeholder="E-mail" id="naoemailcadastrado" class="inputs5" required>
                </div>
                <div class="naosenhacadastrado ccc" id="naosenha1_1" onclick="remRed1()">
                    <input type="password" placeholder="Senha" id="naosenhacadastrado" class="inputs5" required>
                </div>
                <div class="naosenhacadastrado ccc" id="naosenha2_1" onclick="remRed2()">
                    <input type="password" placeholder="Confirme a senha" id="naosenhaconfirmacadastrado"
                        class="inputs5" required>
                </div>
                <div class="naosenhacadastrado ccc" id="naocpf1" onclick="remRed3()">
                    <input type="number" placeholder="CPF ou CNPJ" id="naocpfcadastrado" class="inputs5" required>
                </div>
                <div class="naosenhacadastrado ccc" id="naocep1" onclick="remRed4()">
                    <input type="number" placeholder="CEP" id="naocepcadastrado" class="inputs5" required>
                </div>
                <button id="naobotao_cadastrado" onclick=naocadastrado()>Cadastrar</button>
            </div>
            <div class="msg" id="msg">

            </div>

        </div>

    </div>
</div>