<div class = "background">
<section class="paginaproduto sbc grid">
    <div><img src="../../assets/img/produto.png" alt="">
    
</div>
    <div class="informacoes -ccc">
        <div class="titulo">
            <h1>Microfone Gamer HyperX QuadCast S, Antivibração,
                LED RGB, USB</h1>
        </div>
        <div class="info sbc">
            <div class="text_info">
                <p>O HyperX QuadCast é o microfone independente ideal com todos os recursos para o streamer ou
                    podcaster que procura um microfone com som de qualidade. O QuadCast vem com sua própria base
                    'shock mount' antivibração para ajudar a reduzir os ruídos da vida diária e um filtro integrado
                    para abafar sons percussivos desagradáveis. Saiba instantaneamente o status do seu microfone com
                    o indicador em LED e simplesmente toque para colocá-lo em mudo para evitar acidentes
                    inconvenientes na transmissão.

                </p>
            </div>
            <div class="preco -cc">
                <div class="precoantigo">
                    <p>R$ 1290,90</p>
                </div>
                <div class="preco_text">
                    <p>R$ 990,90</p>
                </div>
                <div class="desconto">
                    <a href=""> À vista no PIX com até 10% de desconto</a>
                </div>
                <div class="vermaisopcoes">
                    <a href="#">Ver mais opções de pagamento</a>
                </div>
                <div class="comprar ccc">
                    <a href="#">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider -->
<section class="slidercontainer">
    <div class="produtossimilares">
        <h1>produtos similares</h1>
    </div>
    <div class="slider sec">
        <div class="setaESQ" onclick=setaESQ()>
            <img src="../../assets/img/right-arrow.png" alt=""> 
        </div>
        <div class="carrossel_container">
            <div class="produtos_container df" id="produtos">
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>
                <a routerLink="/pagina-produto"><img class="produto" src="../../assets/img/section1/Banner produto.png" alt=""></a>

            </div>
        </div>
        <div class="setaDIR" onclick=setaDIR()>
            <img src="../../assets/img/right-arrow.png" alt="">
        </div>
    </div>
</section>
<section class="moreinfo grid">
    <h1>INFORMAÇÕES DO PRODUTO</h1>
    <p class="mic">Microfone Gamer HyperX QuadCast S
    </p>
    <p class="infodown">O HyperX QuadCast é o microfone independente ideal com todos os recursos para o streamer ou podcaster que procura um microfone com som de qualidade. O QuadCast vem com sua própria base 'shock mount' antivibração para ajudar a reduzir os ruídos da vida diária e um filtro integrado para abafar sons percussivos desagradáveis. Saiba instantaneamente o status do seu microfone com o indicador em LED e simplesmente toque para colocá-lo em mudo para evitar acidentes inconvenientes na transmissão. 
    </p>
</section>
</div>
