<div class="background">
    <div class="bannerbg grid">
        <div class="banner-txt">
            <div class="banner-txt1 alin2">
                <p>Os melhores jogos</p>
                <p>do mercado</p>
                <p>você encontra aqui!</p>
            </div>
            <a href=""><img src="../../assets/img/confira.png" class="alin3 confira" alt="botão de confira"></a>
            <div class="banner-txt2 alin2">
                <p>Novidades com até</p>
                <p>50% de desconto</p>
            </div>
        </div>
    </div>
    <!------------------------------mais vendidos------------------------------>
    <div class="mais_vendidos grid dba ">
        <div class="titulo ccc">
            <h1>Mais Vendidos</h1>
        </div>
        <div class="sec">
            <div class="setaesquerda" onclick=passadorESQ1()></div>
            <div class="carrossel">
                <div class="produtos1" id="img1">
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem1 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>

                </div>
            </div>
            <div class="setadireita" onclick=passadorDIR1()></div>
        </div>
        <div class="todas_ofertas fec">
            <a href="#"> Todas as Ofertas</a>
        </div>
    </div>
    <!------------------------------PC Gamer------------------------------>
    <div class="pc_gamer grid dba">
        <div class="titulo ccc">
            <h1>Pc Gamer</h1>
        </div>
        <div class="sel cc">
            <!--seletores de processador e placa-->
            <p class="sel-txt ">Escolha a Configuração:</p>
            <div class="sel1 sbc">
                <p class="sel-txt2">
                    Placa de Vídeo
                </p>
                <div>
                    <a href="#"><img src="../../assets/img/section 2/Passador de Produtos.png"
                            alt="seletor de placa de vídeo"></a>
                </div>
            </div>
            <div class="sel1 sbc">
                <p class="sel-txt2">
                    Processador
                </p>
                <div>
                    <a href="#"><img src="../../assets/img/section 2/Passador de Produtos.png"
                            alt="seletor de processador"></a>
                </div>
            </div>
        </div>
        <div class="sec">
            <div class="setaesquerda" onclick=passadorESQ2()></div>
            <div class="carrossel">
                <div class="produtos1" id="img2">
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>
                    <a routerLink="pagina-produto"><img class="imagem2 imagem"
                            src="../../assets/img/section1/Banner produto.png" alt=""></a>

                </div>
            </div>
            <div class="setadireita" onclick=passadorDIR2()></div>
        </div>
        <div class="monte_seu_pc fec">
            <!--monte seu pc-->
            <a href="#"> Monte Seu PC</a>
        </div>
    </div>
    <!------------------------------Banners duplo------------------------------>
    <div class="banners grid sec">
        <a href="#"><img id="red" src="../../assets/img/section 3/banner 1.png" alt="Banner 1"></a>
        <a href="#"><img id="red" src="../../assets/img/section 3/banner 2.png" alt="Banner 2"></a>
    </div>
    <!------------------------------Seção jogos------------------------------>
    <div class="jogos grid">
        <div class="titulo2 ccc -df">
            <h1>Não sabe qual jogo comprar?</h1>
            <p>Selecione seu gênero favorito e vamos te recomendar alguns!</p>
        </div>
        <div class="generos -ccc">
            <!-- generos dos jogos-->
            <div class="generos1 df ">
                <a href="#">
                    <div class="gen">RPG</div>
                </a>
                <a href="#">
                    <div class="gen">FPS</div>
                </a>
                <a href="#">
                    <div class="gen">RTS</div>
                </a>
                <a href="#">
                    <div class="gen">Moba</div>
                </a>
                <a href="#">
                    <div class="gen">Battle Royale</div>
                </a>
                <a href="#">
                    <div class="gen">MMORPG</div>
                </a>
            </div>
            <div class="generos1 df">
                <a href="#">
                    <div class="gen">Sandbox</div>
                </a>
                <a href="#">
                    <div class="gen">Simulação</div>
                </a>
            </div>
        </div>
        <div class=" produtos container">
            <!-- produtos da seção jogos-->
            <div class="produtosbanners">
                <div class="linha1 sec">
                    <div class="setaesquerda" onclick=passadorESQ3()></div>
                    <div class="carrossel2">
                        <div class="produtos1 sbc" id="img3">
                            <a routerLink="pagina-produto"><img class="imagem3"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem3"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem3"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem3"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem3"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem3"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem3"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem3"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>

                        </div>
                    </div>
                    <div class="setadireita" onclick=passadorDIR3()></div>
                </div>
                <div class="linha1 sec">
                    <div class="setaesquerda" onclick=passadorESQ4()></div>
                    <div class="carrossel2">
                        <div class="produtos1 sbc" id="img4">
                            <a routerLink="pagina-produto"><img class="imagem4"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem4"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem4"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem4"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem4"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem4"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem4"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>
                            <a routerLink="pagina-produto"><img class="imagem4"
                                    src="../../assets/img/section 4/soldado.png" alt="produto"></a>

                        </div>
                    </div>
                    <div class="setadireita" onclick=passadorDIR4()></div>
                </div>
            </div>
        </div>
        <div class="ainda df ccc">
            <!-- ainda em dúvida?-->
            <div>Ainda em dúvida?</div>
            <a href="#">
                <div class="clique b">Clique aqui!</div>
            </a>
        </div>
    </div>
</div>